.body {
  display: flex;
  background-color: #0a0a0a;
  color: #fff;
  height: 97vh;
  width: 100%;
  box-sizing: border-box;
}

.blocks {
  display: flex;

  width: 100%;
  box-sizing: border-box;
  margin: 1rem;
}
